<a href="https://colab.research.google.com/github/Diezcpe/CPE009A-CPE12S2/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Break Statement

In [68]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x) #indent

Sunday
Monday
Tuesday
Wednesday

In [8]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
print(x) #no indent

Thursday

Looping through a String

In [11]:
for x in "week":
  print(x)

w
e
e
k

The Range () Function

In [12]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [23]:
for v in range(2,6,2): #start at 2 increment 2 then next is 4 stop at 6
  print(v)

2
4

Nested Loops

In [26]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for a in adjective:
  for b in fruits:
    print(a,b)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Pyhton While Loop

In [29]:
#Example 5
i = 1
while i < 6:
  print(i)
  i += 1 #i+1 assign operator, print before increment 1 then go to while loop again till i<6 then exit

1
2
3
4
5

The break statement in While loop

In [ ]:
i = 1
while i<6:
  print(i) #first output 1
  if i== 3: #false
    break #stop if the number reach 3
  i += 1

The Continue Statement

In [46]:
#Continuous if the statement is true
i = 0
while i < 6:
  i += 1
  if i == 3: #skip three then goes back to while loop
    continue #since its true it will continue but it will not print 3
  print(i)

1
2
4
5
6

In [47]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    print(i)
  continue

3

In [48]:
i = 1
while i < 6:
  print(i) #print before increment
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [56]:
i = 0
while i < 11:
  print("Hello",i)
  i += 1
  if i == 11:
    continue

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [67]:
#+5 Points Midterm
i = 3
while i < 10:
  print(i)
  i += 1
  if i == 10:
    break

3
4
5
6
7
8
9