<a href="https://colab.research.google.com/github/Diezcpe/CPE009A-CPE12S2/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!
Hello, world

Python Comments

In [13]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [19]:
x = 1
a,b =0,-1
a, b, c,=0,-1,2

b ="Sally" #This is a type of string

print(b)

Sally

Casting

In [21]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type Function

In [22]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or 'Single Quotes'

In [23]:
y = "John"
y = 'John'
print(y)

John

Case sensitive

In [25]:
a= 4
A= "Sally"
#A will not overwrite a
print(A)

Sally

Multiple Variables

In [26]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variabkes

In [27]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [30]:
x = "enjoying"
print("Python is programming is " + x)

Python is programming is enjoying

Arithmetic Operations

In [38]:
10/3
x=5
y=3
sum=x+y
product=x*y
quotient=x/y
modulo=x%y
difference=x-y
exponent=x**y
print(sum)
print(product)
print(quotient)
print(modulo)
print(difference)
print(exponent)

8
15
1.6666666666666667
2
2
125

Assignment Operators

In [58]:
s= 1
print(s)
s-5
print(s)
s-=5
print(s)
s+=5
print(s)
s*=5
print(s)
s/=5
print(s)
s%=5
print(s)
s//=5
print(s)
s**=5
print(s)
s&=5
print(s)
s|=5
print(s)
s^=5
print(s)
s>>=5
print(s)
s<<=5
print(s)

1
1
-4
1
5
1.0
1.0
0.0
0.0

TypeError: unsupported operand type(s) for &=: 'float' and 'int'

Comparison Operators

In [72]:
t=1
u=2
t==u
print(bool(t))
t!=u
print(bool(t))
t>u
print(bool(t))
t<u
print(bool(t))
t>=u
print(bool(t))
t<=u
print(bool(t))

True
True
True
True
True
True

Logical Operators

In [86]:
n=1
n < 5 and n < 10
print(bool(n))
n < 5 or n < 4
print(bool(n))
not(n <5 and n <10)
print(bool(n))

True
True
True

Identity Operators

In [90]:
t=1
u=2

print(x is y)
print(x is not y)

False
True

Bitwise Operators

In [88]:
v=2
v << 1
v<<2
15&15

15